<div class="login-register"  style="background-image:url(assets/imagenes/backgroundazul.jpg);">
    <div class="login-register-box">
        <mat-card class="responsive-card" >
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onIniciarSesion()">
                    <div  class="text-center"><img alt="homepage" src="assets/imagenes/logo.jpg" class="responsive-img"><h2  class="m-t-0" style="font-weight: bold;color: #262262;">Inicia Sesión</h2></div>
                    <div class="row" >
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="responsive-input">
                            <mat-label style="font-size: 16px;font-weight: bold;color:#262262;">Correo</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput placeholder="Correo" [formControl]="form.controls['username']" style="color: black; font-size: 15px;"  appCorreo (limpiarCorreo)="$event"> 
                            </mat-form-field> 
                            <small *ngIf="form.controls['username'].hasError('required') && form.controls['username'].touched" class="text-danger support-text">Debes ingresar el correo</small>
                        </div>
                        <!-- col full-->
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="responsive-input">
                           
                            <mat-label style="font-size: 16px;font-weight: bold;color:#262262;">Contraseña</mat-label>
                            <mat-form-field appearance="outline">
                                <input matInput [type]="!hide ? 'password' : 'text'" placeholder="Contraseña" [formControl]="form.controls['password']"  style="color: black; font-size: 15px;" appContrasena (limpiarContrasena)="$event">
                                <button mat-icon-button matSuffix color="primary" type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="!hide" >
                                <mat-icon style="color:#262262;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button> 
                               
                              </mat-form-field>
                            <small *ngIf="form.controls['password'].hasError('required') && form.controls['password'].touched" class="text-danger support-text">Debes ingresar tu contraseña</small>
                        </div>
                        <!-- col full-->
                        <div *ngIf="mensaje" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
                            <small class="text-danger support-text">{{ mensaje }}</small>
                        </div>
                       
                        <div *ngIf="loggingIn" fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" fxLayoutAlign="center">
                            <mat-spinner diameter="50"></mat-spinner>
                        </div>
                        <div class ="responsive-l" style="font-size: 18px; font-weight: bold;"  fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" >
                            <button style="border-radius: 10px;" mat-raised-button color="primary" class="btn-block btn-lg m-t-20 m-b-20" type="submit" [disabled]="!form.valid">Ingresa</button> 
                        </div>
                  
               
                     </div>
                  </form>
             </mat-card-content>
        </mat-card>
    </div>

      

</div>
